{% extends 'info_app/base.html' %}

{% block title %}
Editar Orden de venta - info_app
{% endblock title %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4">
            <h2>Editar Orden de venta</h2><br>
            

          <form action="" method="POST">
          {% csrf_token %}
          {{ forms.as_p }}
          <button type="submit" class="btn btn-primary">Editar orden de venta</button>
        </form>
        </div>
    </div>
</div>

{% endblock content %}