{% extends 'info_app/base.html' %}

{% load static %}

{% block title %}
Perfil - info_app
{% endblock title %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4 text-center">
            <h3 class="mb-4 text-primary">Perfil de {{ user.username }}</h3>

            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="text-success"> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}


            {% if user.profile.photo %}
            <img 
                src="{{ user.profile.photo.url }}" 
                alt="Foto de perfil" 
                style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;"> <br>
            {% else %}
                <img src= "{% static 'info_app/assets/img/default-profile.jpg' %}"
                alt="Foto default" 
                style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;"> <br>
            {% endif %}       
            
            <div class="card shadow-sm p-4">
                <p><strong>Nombre:</strong> {{ user.first_name }}</p>
                <p><strong>Apellido:</strong> {{ user.last_name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
        </div>
    </div>     
</div> 

{% endblock content %}