{% extends 'info_app/base.html' %}

{% load static %}

{% block title %}
Inicio - info_app
{% endblock title %}

{% block content %}
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'clientes' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'info_app/assets/img/portfolio/clientes.jpg' %}" alt="..." />
                        
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Clientes</div>
                        <div class="portfolio-caption-subheading text-muted">Conoce nuestros clientes</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'empleados' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'info_app/assets/img/portfolio/empleados.jpg' %}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Empleados</div>
                        <div class="portfolio-caption-subheading text-muted">Conoce nuestros colaboradores </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" href="{% url 'productos' %}">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{% static 'info_app/assets/img/portfolio/productos.jpg' %}" alt="..." />
                        
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Productos</div>
                        <div class="portfolio-caption-subheading text-muted">Conoce nuestros productos</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">

{% endblock content %}

