{% extends 'info_app/base.html' %}

{% load static %}

{% block title %}
Ver Inventario - info_app
{% endblock title %}

{% block content %}
<br>
<div class="container my-4"></div>
    <!-- Imagen de cabecera -->
    <div class="row justify-content-center mb-4">
        <div class="col-12 text-center">
            <img 
                src="{% static 'info_app/assets/img/inventario.jpg' %}" 
                style="width: 600px; height: 300px; object-fit: cover;">
                
        </div>
    </div>

    <!-- Título de la sección -->
    <br>
    <div class="text-center mb-4">
        <h3 class="text-primary fw-bold">Detalle producto en inventario</h3>
    </div>

    <!-- Información del cliente -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li><strong>Nombre del producto:</strong> {{inventario.producto}}</li>
                        <li><strong>Fecha de ingreso:</strong> {{ inventario.fecha_inventario }}</li>
                        <li>----------------------------------------------------------------</li>
                        <li><strong>Cantidad:</strong><br> {{ inventario.cantidad }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Botón de regreso -->
    <div class="text-center mt-4">
        <a class="btn btn-primary" href="{% url 'inventario' %}">
            Volver
        </a>
    </div>
</div>

{% endblock content %}