{% extends 'info_app/base.html' %}

{% block title %}
Contenido del mensaje - mensajeria_app
{% endblock title %}



{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Tarjeta del mensaje -->
            <div class="card shadow-sm">
                <div class="card-header text-white bg-primary">
                    <h5 class="mb-0">Mensaje de {{ contexto.remitente }}</h5>
                </div>
                <div class="card-body">
                    <!-- Fecha del envío -->
                    <p class="text-muted mb-2">
                        <small>Enviado el: {{ contexto.fecha_envio }}</small>
                    </p>
                    <!-- Contenido del mensaje -->
                    <p class="fs-5">{{ contexto.contenido }}</p>
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'enviar_mensaje' %}" class="btn btn-primary">Responder</a>
                    <a href="{% url 'mostrar_mensaje' %}" class="btn btn-primary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
